absl-py==2.4.0
accelerate==1.12.0
addict==2.4.0
aiofiles==24.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.11.18
aiosignal==1.4.0
aliyun-python-sdk-core==2.16.0
aliyun-python-sdk-kms==2.16.5
annotated-doc==0.0.4
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyascii==0.3.3
anyio==4.12.1
argbind==0.3.9
asttokens==3.0.1
attrs==25.4.0
audioread==3.1.0
av==17.0.0
babel==2.18.0
beartype==0.22.9
blinker==1.9.0
blis==1.3.3
brotli==1.2.0
catalogue==2.0.10
certifi==2026.2.25
cffi==2.0.0
charset-normalizer==3.4.4
click==8.3.1
cloudpathlib==0.23.0
colorama==0.4.6
coloredlogs==15.0.1
comm==0.2.3
confection==0.1.5
contourpy==1.3.3
contractions==0.1.73
crcmod==1.7
cryptography==46.0.5
csvw==3.7.0
curated-tokenizers==0.0.9
curated-transformers==0.1.1
cycler==0.12.1
cymem==2.0.13
Cython==3.2.4
databricks-api==0.9.0
databricks-cli==0.18.0
datasets==3.6.0
debugpy==1.8.20
decorator==5.2.1
descript-audio-codec==1.0.0
descript-audiotools @ git+https://github.com/descriptinc/audiotools@348ebf2034ce24e2a91a553e3171cb00c0c71678
dill==0.3.8
diskcache==5.6.3
dlinfo==2.0.0
docopt==0.6.2
docstring_parser==0.17.0
dyNET38==2.2
editdistance==0.8.1
einops==0.8.2
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl#sha256=1932429db727d4bff3deed6b34cfc05df17794f4a52eeb26cf8928f7c1a0fb85
encodec==0.1.1
espeakng-loader==0.2.4
executing==2.2.1
fastapi==0.135.1
ffmpeg-python==0.2.0
ffmpeg_downloader==0.4.1
ffmpy==1.0.0
filelock==3.25.0
fire==0.7.1
Flask==3.1.3
flatbuffers==25.12.19
flatten-dict==0.4.2
fonttools==4.61.1
frozenlist==1.8.0
fsspec==2025.3.0
ftfy==6.3.1
funasr @ git+https://github.com/modelscope/FunASR.git@b842ff8107e1da950947ada0d11ae3c008baeb54
future==1.0.0
gradio==5.50.0
gradio_client==1.14.0
groovy==0.1.2
grpcio==1.78.0
h11==0.16.0
hf-xet==1.4.2
httpcore==1.0.9
httpx==0.28.1
huggingface_hub==0.36.2
humanfriendly==10.0
hydra-core==1.3.2
idna==3.11
ImageIO==2.37.3
imageio-ffmpeg==0.6.0
importlib_resources==6.5.2
inflect==7.5.0
ipykernel==7.2.0
ipython==9.10.0
ipython_pygments_lexers==1.1.1
ipywidgets==8.1.8
isodate==0.7.2
itsdangerous==2.2.0
jaconv==0.5.0
jamo==0.4.1
jedi==0.19.2
jieba==0.42.1
Jinja2==3.1.6
jiwer==4.0.0
jmespath==0.10.0
joblib==1.5.3
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
julius==0.2.7
junit-xml==1.9
jupyter_client==8.8.0
jupyter_core==5.9.1
jupyterlab_widgets==3.0.16
kaldifst==1.7.17
kaldiio==2.18.1
kani-tts-2==0.0.5
kittentts @ https://github.com/KittenML/KittenTTS/releases/download/0.8/kittentts-0.8.0-py3-none-any.whl#sha256=cba97464da2ec56384b9fc03004449dadbe6d9abd16aa89e98953027854fd7d9
kiwisolver==1.4.9
kokoro==0.9.4
kokoro-onnx==0.5.0
language-tags==1.2.0
lazy_loader==0.4
librosa==0.11.0
llama_cpp_python==0.3.9
llvmlite==0.46.0
loguru==0.7.3
Markdown==3.10.2
markdown-it-py==4.0.0
markdown2==2.5.5
MarkupSafe==3.0.3
matplotlib==3.10.8
matplotlib-inline==0.2.1
mdurl==0.1.2
mecab-python3==1.0.12
misaki==0.9.4
ml_dtypes==0.5.4
modelscope==1.35.1
moonshine-voice==0.0.51
more-itertools==10.8.0
moshi==0.2.13
mpmath==1.3.0
msgpack==1.1.2
multidict==6.7.1
multiprocess==0.70.16
murmurhash==1.0.15
nagisa==0.2.11
natsort==8.4.0
nemo-toolkit==2.7.1
nest-asyncio==1.6.0
networkx==3.4.2
ninja==1.13.0
nncf==3.0.0
num2words==0.5.14
numba==0.64.0
numpy==1.26.4
numpy-typing-compat==20251206.2.4
nutter==0.1.35
oauthlib==3.3.1
omegaconf==2.3.0
onnx==1.20.1
onnxruntime==1.24.4
onnxruntime-openvino==1.24.1
openai-whisper==20250625
openvino==2026.0.0
openvino-genai==2026.0.0.0
openvino-telemetry==2025.2.0
openvino-tokenizers==2026.0.0.0
optimum==2.1.0
optimum-intel==1.27.0
optimum-onnx==0.1.0
optype==0.17.0
orjson==3.11.7
oss2==2.19.1
outetts==0.4.4
packaging==26.0
pandas==2.3.3
pandas-stubs==2.3.3.260113
parler_tts @ git+https://github.com/huggingface/parler-tts.git@d108732cd57788ec86bc857d99a6cabd66663d68
parso==0.8.6
phonemizer==3.3.0
phonemizer-fork==3.3.2
pillow==11.3.0
piper-tts==1.4.1
platformdirs==4.9.2
pocket-tts==1.1.1
polars==1.39.3
polars-runtime-32==1.39.3
pooch==1.9.0
preshed==3.0.12
prompt_toolkit==3.0.52
propcache==0.4.1
protobuf==4.25.8
psutil==5.9.8
pure_eval==0.2.3
py4j==0.10.9.9
pyahocorasick==2.3.0
pyarrow==23.0.1
pycparser==3.0
pycryptodome==3.23.0
pydantic==2.12.3
pydantic_core==2.41.4
pydot==3.0.4
pydub==0.25.1
pygame==2.6.1
Pygments==2.19.2
PyJWT==2.12.0
pyloudnorm==0.2.0
pynndescent==0.6.0
pyparsing==3.3.2
pyreadline3==3.5.4
pystoi==0.4.1
python-dateutil==2.9.0.post0
python-multipart==0.0.22
pytorch-wpe==0.0.1
pytz==2026.1.post1
pywhispercpp==1.4.1
PyYAML==6.0.3
pyzmq==27.1.0
-e git+https://github.com/QwenLM/Qwen3-ASR.git@c17a131fe028b2e428b6e80a33d30bb4fa57b8df#egg=qwen_asr
qwen-omni-utils==0.0.9
qwen-tts==0.1.1
randomname==0.2.1
RapidFuzz==3.14.3
rdflib==7.6.0
referencing==0.37.0
regex==2026.2.28
requests==2.32.5
rfc3986==1.5.0
rich==14.3.3
rpds-py==0.30.0
ruff==0.15.7
safehttpx==0.1.7
safetensors==0.7.0
scikit-learn==1.8.0
scipy==1.17.1
scipy-stubs==1.17.1.3
segments==2.3.0
semantic-version==2.10.0
sentence-transformers==5.3.0
sentencepiece==0.2.1
shellingham==1.5.4
simplejson==3.20.2
six==1.17.0
smart_open==7.5.1
-e git+https://github.com/ekwek1/soprano.git@12fac06eb8fa53bad8b3941d3cb11e9c869477c4#egg=soprano_tts
sortedcontainers==2.4.0
sounddevice==0.5.0
soundfile==0.13.1
sox==1.5.0
soxr==1.0.0
soynlp==0.0.493
spaces==0.48.0
spacy==3.8.11
spacy-curated-transformers==0.3.1
spacy-legacy==3.0.12
spacy-loggers==1.0.5
sphn==0.2.1
srsly==2.5.2
stack-data==0.6.3
starlette==0.52.1
supertonic==1.1.2
sympy==1.14.0
tabulate==0.9.0
tensorboard==2.20.0
tensorboard-data-server==0.7.2
tensorboardX==2.6.4
termcolor==3.3.0
textsearch==0.0.24
thinc==8.3.10
threadpoolctl==3.6.0
tiktoken==0.12.0
tokenizers==0.22.2
tomlkit==0.13.3
torch==2.11.0+cpu
torch-complex==0.4.4
torch-directml==0.2.5.dev240914
torch-stoi==0.2.3
torchaudio==2.11.0+cpu
torchvision==0.26.0+cpu
tornado==6.5.5
tqdm==4.67.3
traitlets==5.14.3
transformers==4.57.3
transformers-onnx==0.0.2
typeguard==4.5.1
typer==0.24.1
typer-slim==0.24.0
types-pytz==2026.1.1.20260304
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.3
umap-learn==0.5.11
Unidecode==1.4.0
unidic-lite==1.0.8
uritemplate==4.2.0
urllib3==2.6.3
uroman==1.3.1.1
uv==0.10.9
uvicorn==0.42.0
voxcpm==1.5.0
wasabi==1.1.3
wcwidth==0.6.0
weasel==0.4.3
websockets==15.0.1
Werkzeug==3.1.6
wetext==0.1.2
widgetsnbextension==4.0.15
win32_setctime==1.2.0
wrapt==2.1.1
xxhash==3.6.0
yarl==1.23.0
